body {
  background-color: #f3f3f3;
  padding: 0;
  margin: 0;
  font: 14px/1.5 Lalezar;
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

a {
  color: #39c;
  text-decoration: none;
}

a:hover {
  color: #069;
}

.wrapper {
  width: 80%;
  margin: 0px auto
}

h1 {
  text-align: center;
}

#fontsList {
  display: block;
  position: relative;
  margin: 100px 0px;
}

#fontsLis a {
  display: block;
  position: relative;
  overflow: hidden;
}

a img {
  display: block;
  width: 100%;
}

.section {
  flex;
  0;
  padding: 80px 0;
}

#fontstore-box {
  background: #f3f3f3;
  padding: 70px 0 20px 0;
}

#fontstore-box .logo {
  width: 350px;
  display: block;
  margin: 0 auto;
}

#fontstore-box .logoText {
  display: block;
  text-align: center;
  font-family: GanjNamehSansWeb;
  font-size: 17px;
  color: #434343;
  line-height: 1;
}

#fontstore-box .fontStore-social-icon {
  font-family: GanjNamehSansWeb;
  direction: ltr;
  text-align: center;
  margin: 50px auto 0;
}

#fontstore-box .fontStore-social-icon a {
  font-size: 35px;
  margin: 10px;
  color: #656565;
}

#welcome {
  background-color: #42454E;
  color: #fff;
}

#welcome h2 {
  font-size: 25px;
  color: #e4ad3c;
}

#welcome h1 {
  font-size: 45px;
  margin-top: 50px;
}

#about {
  background: #f3f3f3;
  color: #434343;
}

#about h1 {
  font-size: 45px;
  margin-bottom: 60px;
}

#about p {
  font-family: GanjNamehSansWeb;
  font-size: 15px;
  margin: 0 30%;
}

#published {
  background-color: #fff;
  margin: 0px auto;
}

#published h1 {
  color: #434343;
  font-size: 45px;
}

#published .font-lists {
  margin: 100px 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.fontlink {
  width: 330px;
  margin: 20px 10px;
  display: block;
  box-shadow: 2px 4px 5px #888;
  border-radius: 10px;
  border: 1px solid #aaa;
  overflow: hidden;
}

.fontlink img {
  //border-radius: 10px;
}